rss {
  display: block;
  font-family: verdana, arial;
  text-align: center;
  background: #e0e0e0;
}
channel {
  display: inline-block;
  width: 50%;
  text-align: left;
}
item {
  padding: 10px;
  margin-bottom: 14px;
  display: inline-block;
  color: black;
  width: 100%;
  border: 1px solid black;
  background: #f0f0f0;
}
title {
  margin-bottom: 10px;
  display: block;
  color: blue;
  font-size: 22px;
}
description {
  display: inline-block;
  color: black;
  margin-bottom: 5px;
}
language {
  display: none;
}
guid {
  display: block;
  color: gray;
}
pubDate {
  display: block;
  color: gray;
  margin-bottom: 5px;
}
link {
  display: block;
  margin-bottom: 5px;
}
