/* General */
body {
  background: #383838;
  color: #fff;
  margin: 5em 15em;
  padding: 0px;
}
a {
  color: #ffADcc;
  font-family: Arial;
  text-decoration: none;
}
a:hover { text-decoration: underline; }
span {
  display: block;
  font-family: Arial;
}
p { font-family: Arial; }
hr {
  margin: 2.5em 0;
  color: #56ffAD;
}
ul {
  font-family: Arial;
  list-style-type: none;
  padding-left: 0;
}
small a { margin-top: 1em; }
small a { color: #c8ffAD; }
strong a { color: #c8ffAD; }
.title {
  font-family: serif;
  display: block;
}
/* Header */
header .title {
  color: #eDEADf;
  font-size: 2.4em;
}
header {
  margin-top: 0.25em;
  font-family: monospace;
}
header a { margin-right: 0.75em; }
header a + a { margin-left: 0.75em; }

#year {
  margin-top: 0;
  text-decoration: underline;
}

/* Content */
.title {
  color: #eDEADf;
  font-size: 1.55em;
}
#content .title ~ .title { margin-top: 1.25em; }
/* p in content tag */
#content p {
  margin-left: 1.4em;
  margin-right: 1.4em;
  color: #ccc;
}
#content p a { color: #c8ffAD; }
#content p i { color: #dDEAD9; }

/* li/ul in content tag */
#content ul {
  color: #ccc;
  margin-left: 1.4em;
}
#content ul a { color: #c8ffAD; }
#content ul li { margin: 0.25em 0; }

/* Blog Content */
.entry {
  padding: 1em;
  margin-bottom: 1.5em;
  border-radius: 0.35em 1em 1em 0.35em;
  border-left: 0.20em solid #ffADb7;
  background: #292929;
}
.entry-fake {
  padding: 1em;
  margin-bottom: 1.5em;
  border-radius: 0.35em 0.35em 0.35em 0.35em;
  border-left: 0.20em solid #ffADb7;
  /* border-right: 0.20em solid #ffADb7; */
  background: #292929;
}
.entry-fake a { margin-right: 0.75em; }
.entry-fake a + a { margin-left: 0.75em; }
.entry-fake a {
  color: #c8ffAD;
}
body > .blogwrap {
  color: #ccc;
  margin: 1em 1.4em;
}
.blogwrap p i { color: #dDEAD9; }
.view-full {
  margin: 0 0 1em 1.4em;
  display: block;
  color: #c8ffAD;
}
.blog-author { font-size: 0.95em; }

/* Footer Exclusive Content */
footer {
  font-size: 0.8em;
  margin-top: 0.25em;
  font-family: monospace;
}
footer a { margin-right: 0.75em; }
footer a + a { margin-left: 0.75em; }
